
body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279; 
	background: #fff;
}


*,
*:after,
*:before {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
p {
	margin: 0 0 10px;
}
/*Container
=============*/
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}


/*Header
============================*/


/*Header
=============*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header__inner {
	padding: 30px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #4e5066;
}

/*Nav
=============*/
.nav {
	display: flex;
}
.nav__link {
	display: inline-block;
	margin-left: 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	opacity: .75;
	text-decoration: none;
	transition: opacity .1s linear;
}
.nav__link:first-child{
	margin: 0;
}
.nav__link:hover {
	opacity: 1;
}

.burger{
	display: none;
}
.burger__item{
	display: block;
	width: 25px;
	height: 3px;
	background-color: #fff;
	position: relative;
}
.burger__item:after,
.burger__item:before{
	content: "";
	width: 100%;	
	height: 100%;
	background: #fff;	
	position: absolute;
	left: 0;
}
.burger__item:after{
	top: -8px;
}

.burger__item:before{
	bottom: -8px;
}
/*Main
============================*/



/*Intro
=============*/
.intro{
	height: 750px;
	background-color: #2c2f49;
	background-image: url('img/intro-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.intro__title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 1.1;
	text-transform: uppercase;
}
.intro__subtitle{
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;	
	margin-top: 20px;
	margin-bottom: 70px;
}

/*Features
=============*/
.features {
	padding: 100px 0;
	display: flex;
	flex-wrap: wrap;
}
.features__item {
	padding: 40px 40px;
	width: 33.3333%;
	text-align: center;
}
.features__icon {
	margin-bottom: 25px;
}
.features__title{
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;	
	color: #2d3033;
}
.features__description {
	font-size: 14px;
	line-height: 1.5;
}



/*Features
=============*/
.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.works__item{
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.works__item:hover .works__content{
	opacity: 1;
}
.works__image{
	position: absolute;
/*	width: 100%;	
	height: 100%;*/	
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	z-index: 1;
}
.works__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: rgba(232,69,69,0.9);
	top: 0;
	left: 0;
	width: 100%;	
	height: 100%;	
	position: absolute;
	z-index: 2;
	color: #fff;
	opacity: 0;

	transition: opacity .2s linear;
}

.works__title{
	text-transform: uppercase;	
	font-weight: 700;	
	font-size: 14px;
	margin-bottom: 10px;	
}
.works__text{

}


/*Team
=============*/
.team{
	padding: 100px 0 75px;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.team__item {
	width: 25%;
	padding: 0 20px;
	margin-bottom: 25px;
}

.team__photo{
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.team__name {
	font-size: 22px;
	margin-bottom: 10px;
	color: #2d3033;
}

.team__position {
	font-size: 13px;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #e84545;
}

.team__text{
	font-size: 14px;
	line-height: 1.5;
}
/*reviews
=============*/
.reviews{
	background-color: #53354a;
}
.reviews__inner{
	position: relative;
	height: 500px;
}
.reviews__item {
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;	
	position: absolute;
	height: 100%;
	/*left: 3000px;*/
	/*transition: left 2s ease-out;*/
}
.reviews--unactive{
	top: 0;
	left: 0;
	position: absolute;
}
.reviews__photo{

	width: 50%;	
	position: relative;
}
.reviews__img{
	position: absolute;
	top:0;
	right: 0;
}
.reviews__content{
	width: 50%;	
	padding: 60px;
	display: flex;
	flex-direction: column;		
	justify-content: center;
}
.reviews__title {
	font-size: 36px;
	line-height: 1.25;	
	font-family: 'Cardo', italic;
	color: #fff;
	margin-bottom: 30px;	
}
.reviews__author{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;	
	color: #fff;
}

/*Slider
=============*/

.control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	color: black;
	font-size: 70px;
	position: absolute;
	left: 0;
	z-index: 100;	
}
.control__button:hover{
	cursor: pointer;
}
/*get-start
=============*/

.get-start {
	padding: 100px 0;
	text-align: center;
}

.get-start__title{
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 15px;			
}
.get-start__subtitle{
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}


/*Footer
============================*/

/*about
=============*/

.about{
	background: #3a3e64;
}
.about__inner{
	padding: 60px 0 100px;
	display: flex;
	justify-content: space-around;
}
.about__item {
	width: 33%;	
	padding: 0 15px;
	text-align: center;
}
.about__title{
	font-weight: 700;	
	font-size: 14px;
	text-transform: uppercase;	
	color: #fff;
	margin-bottom: 10px;	
}
.about__content{
	color: rgba(255,255,255,.5);
}
.about__address{
	font-size: 14px;	
	font-style: normal;
	line-height: 1.6;

}

/*Copyright
=============*/
.copyright{
	padding: 25px 0;
	background-color: #313454;
}

.copyright__text{
	text-align: center;
}
.copyright__author{
	color: #fff;
}


/*Social
=============*/
.social {
	display: flex;
}
.social--footer {
	justify-content: center;
}

.social__item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	border: 1px solid #c6cacc;
	transition: border-color .2s linear;
}
.social__item:last-child{
	margin-right: 0;
}

.social--footer .social__item{
	border-width: 2px;
	border-color: #fff;
	border-radius: 2px;
}

.social--footer .social__item:hover{
	background-color: #fff;
}

.social__item:hover {
	border-color: #000;
}


.social__item:hover .social__icon {
	fill: #000;
}
.social__icon {
	fill: #c6cacc;
	height: 18px;

	transition: fill .2s linear;
}


/*Btn
=============*/

.btn {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	padding: 15px 40px;
	color: #fff;
	font-weight: 600;	
	text-decoration: none;
	border-radius: 3px;	
	border: none;
	cursor: pointer;

	transition: background 0.2s linear;
}
.btn--red{
	background:#e84545;
}
.btn--red:hover {
	background: #df2727;
}
.btn--download {
	padding: 15px 75px;
}


/*Media
============================*/

@media (max-width: 900px){
	
	/*Header
	=============*/
	.nav{
		display: none; 
	}
	.burger{
		display: block;
	}


	/*intro
	=============*/
	.intro__title{
		font-size: 53px;
	}
	
	/*features
	=============*/

	.features__item{
		width: 50%;
	}
	/*features
	=============*/
	.works__item{
		width: 50%;
	}
	/*team
	=============*/
	.team__item{
		width: 50%;
	}


	/*Social
	=============*/
	.social{

	}
	/*Reviews
	=============*/
	.reviews__content{
		padding: 30px;
	}
	.reviews__title{
		font-size: 26px;
	}
	.reviews__author{
		font-size: 8px;
	}
	.reviews__inner{
		height: 350px;
	}
	.reviews__img{
		height: 100%;
	}

	
}

@media (max-width: 747px){
	/*intro
	=============*/
	.intro__title{
		font-size: 43px;
	}
	.intro__subtitle{
		font-size: 	14px;
	}
	.intro{
		height: auto;
		padding: 130px 0 75px;
	}
	/*btn
	=============*/
	.btn--download {
	padding: 15px 75px;
	}
	
}

@media (max-width: 590px){
	
	/*intro
	=============*/

	.intro__title{
		font-size: 28px;
	}
	.intro__subtitle{
		font-size: 	8px;
		margin-bottom: 40px;	
	}
	/*btn
	=============*/
	.btn {
		font-size: 9px;
		padding: 10px 20px;
	}
	.btn--download {
	padding: 10px 50px;
	}
	
/*	.works__item{
		width: 50%;
		height: 175px;
	}*/
	.features__item{
		width: 100%;
	}
	/*features
	=============*/
	.works__item{
		width: 100%;
	}
	/*team
	=============*/
	.team__item{
		width: 100%;
		text-align: center;
	}
	/*get-start
	==============*/

	.get-start {
	padding: 50px 0;
	}

	.get-start__title{
		font-size: 20px;
		margin-bottom: 15px;			
	}
	.get-start__subtitle{
		font-size: 10px;
		margin-bottom: 20px;
	}
	
	/*about
	=============*/
	.about__inner{
		padding: 30px 0 50px;
	}
	.about__title{
		font-size: 10px;
	}
	.about__content{
		font-size: 10px;
	}
	.about__address{
		font-size: 10px;
	}


	/*social
	=============*/
	.social {
		justify-content: center;
	}
	.social--footer .social__item{
		width: 25px;
		height: 25px;
	}
	.social--footer .social__item .social__icon {
		width: 10px;
		height: 10px;
	}

	/*Reviews
	=============*/
	.reviews__content{
		width: 100%;
		justify-content: flex-end;	
		padding: 15px;
		padding-bottom: 10px;
	}
	.reviews__item{
		justify-content: center;
	}
	.reviews__title{
		font-size: 18px;
		margin-bottom: 10px;

	}
	.reviews__author{
		font-size: 8px;
	}
	.reviews__inner{
		height: 350px;	
	}
	.reviews__photo{
		width: 100%;
		height: auto;	
	}
	.reviews__img {
		height: 100%;
		min-height: 250px;
		width: 100%;	
	}
	/*Container
	=============*/
	
	.container--reviews {
		padding: 0;
	}
}
@media (min-width: 2100px){
	.works__image{
		height: 100%;
		width: 100%;	
	}
}


